---
layout: default
title: "{{ site.name }}"
---

{% if page.url == "/" %}

{% endif %}





<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">




<!-- slide 1 😍😍😍 -->
<div id="iska-cantik-slider-container">
  <b id="iska-cantik-title">
    United Arab Emirates
</b>
    <div id="iska-cantik-slider">
        {% for post in site.categories.united-arab-emirates limit: 4 %}
        <div id="iska-cantik-slide">
           <a href="{{ post.url }}">
               <img src="{{ post.image }}" alt="{{ post.title }}">
           
           <h5 id="iska-cantik-title">{{ post.title }}</h5></a>
                   </div>
        {% endfor %}
    </div>
    <button id="iska-cantik-prev" onclick="prevIskaCantikSlide()">&#10094;</button>
    <button id="iska-cantik-next" onclick="nextIskaCantikSlide()">&#10095;</button>

  <a href="/united-arab-emirates" id="iska-cantik-title">
    More Post
</a>
</div>

<script>
    let iskaCantikSlideIndex = 0;
    const iskaCantikSlides = document.querySelectorAll('#iska-cantik-slide');
    function updateIskaCantikSlides() {
        document.getElementById('iska-cantik-slider').style.transform = `translateX(${-iskaCantikSlideIndex * 100}%)`;
    }
    function nextIskaCantikSlide() {
        iskaCantikSlideIndex = (iskaCantikSlideIndex + 1) % iskaCantikSlides.length; updateIskaCantikSlides();
    }
    function prevIskaCantikSlide() {
        iskaCantikSlideIndex = (iskaCantikSlideIndex - 1 + iskaCantikSlides.length) % iskaCantikSlides.length; updateIskaCantikSlides();
    }
</script>
<!-- slide 1 😍😍😍 -->

        
      <!-- slide2 🎾🎾🎾🎾🎾 -->
        <div id="iska2-grid-container">
<b id="iska2-title">Saudi Arabia</b>
    {% for post in site.categories.saudi-arabia limit: 4 %}
    <div class="iska2-grid-item">
        <a href="{{ post.url }}">
            <img src="{{ post.image }}" alt="{{ post.title }}">
        </a>
     <a href="{{ post.url }}" class="iska2-title">   <h5>{{ post.title }}</h5>
    </a>
    </div>
    {% endfor %}
    <b id="iska2-title">More Posts</b>
</div>
      <!-- slide2 🎾🎾🎾🎾🎾 -->



        

        <br />
        <b><span>Latest Posts</span></b>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

    
</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>





